<head>
  <meta charset="UTF-8">

  <title> {% if page.title %}{{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.layout == 'blog' %}{{ page.content | strip_html | truncatewords: 50 }}{% else %}{{site.description}}{% endif %}">
  <meta name="keywords" content="{% if page.tags %}{{page.tags}}{% else %}dear first year, letters , messages{% endif %}">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Open Graph data  -->
  <meta property="og:url" content="{{ site.url }}{{page.url}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.layout == 'blog'%}{{ page.content | strip_html | truncatewords: 50 }}{% else %}{{site.description}}{% endif %}">
  <meta property="og:image" content="{% if page.image_slug %}{{site.url}}{{page.image_slug}}{% elsif page.image_url %}{{page.image_url}}{% else %}{{ site.url }}/img/about/header.png {% endif %}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">
  
  <!-- Twitter data-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dearfirstyear">
  <meta name="twitter:creator" content="@dearfirstyear">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.layout == 'blog'%}{{ page.content | strip_html | truncatewords: 50 }}{% else %}{{site.description}}{% endif %}">
  <meta name="twitter:image" content="{% if page.image_slug %}{{site.url}}{{page.image_slug}} {% elsif page.image_url %}{{page.image_url}}{% else %}{{ site.url }}/img/about/header.png {% endif %}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />


  <!-- Chrome Theme Color -->
  <meta name="theme-color" content="#FCD224">

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" inline>
  <link rel="stylesheet" type="text/css" href="/css/projects.css" inline>
  <link rel="stylesheet" type="text/css" href="/css/post.css" inline> 

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176754776-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176754776-1');
  </script>


</head>