<div class="nav-container">
  <nav>
      <a href="/" class="logo">Dear First Year </a>

    <input type="checkbox" id="nav-toggle">
    <label for="nav-toggle" class="burger-menu">
      <i class="fas fa-bars"></i>
    </label>
    <div class="right-menu">
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
        <a href="https://forms.gle/EL73FGjRQEwmNQ9N8" target="__blank">Submit</a>
        <a href="mailto:contact@dearfirstyear.com">Contact</a>
    </div>
  </nav>
</div>

