<!DOCTYPE html>
<html>

{% include header.html %}

<body>

<div id="page-container">
<div id="content-wrap">

{% include navbar.html %}

{% if page.image_slug  %}
<img class="blog-banner-image" src="{{site.baseurl}}{{page.image_slug}}" alt="Image for Dear First Year post"/> 
{% elsif page.image_url %}
<img class="blog-banner-image" src="{{page.image_url}}" alt="Image for Dear First Year post"/> 
{% else %}
<img class="blog-banner-image" src="https://source.unsplash.com/1600x900/?university" alt="Image for Dear First Year post"/> 
{% endif %}
<div class="blog-info">

  <h1 class="blog-title"> {{page.title}} </h1>
  <h2 class="published-date"> {{page.author}} </h2>
  <!-- <h3 class="published-date">Published on {{ page.date | date: "%-B %d, %Y"}} </h3> -->
</div>

<div class="blog-box">
  <article>
    {{content}}
  </article>

  <div id="section-break"></div>
  <h3>Continue the conversation</h3>
  <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20piece%20from%20@dearfirstyear:%20{{site.url}}{{page.url}}" class="button">Tweet this piece &#8594; </a>
  <a href="mailto:?subject=View%20this%20article%20from%20Dear%20First%20Year&amp;body={{site.url}}{{page.url}}"class="button">Email this piece &#8594;</a> 
  <a href="mailto:contact@dearfirstyear.com" target="_blank" class="button">Submit your own DFY &#8594;</a> 

</div>


</div>
</div>

</body>


</html>
